body::before {
    background: white;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
    ), url("../images/bernard-hermant-hQ3WZnY3yZ0-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

#header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem;
    background-color: rgb(48, 29, 1);
    position: fixed;
}

#logo-heading {
    align-self: center;
}

nav {
    position: fixed;
}

#nav-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1rem;
    justify-content: flex-end;
}

#nav-list {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

#nav-list li {
    margin: 1rem;
}

.nav-link {
    border-radius: 10px;
    font-size: 24px;
    font-family: 'Raleway Dots', cursive;
    padding: 1rem;
}

#new-arrivals-link:hover, #dairy-free-link:hover {
    background-color: rgb(243, 188, 243);
    color: black;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

#all-flavors-link:hover {
    background-color: rgb(176, 255, 176);
    color: black;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

h1 {
    font-family: 'Raleway Dots', cursive;
    font-size: 48px;
    color: white;
}

#main {
    position: fixed;
    top: 135px;
    left: 0;
    width: 100%;
    height: calc(100% - 135px);
    overflow: scroll;
    margin-bottom: 25rem;
}

#sprinkle-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sprinkle {
    width: 50px;
    height: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(48, 29, 1);
    display: inline-block;
}

.red {
    background-color: crimson;
    margin-left: 2rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
}

.orange {
    background-color: orange;
    margin-left: 3rem;
    margin-right: 1.75rem;
    margin-top: 2rem;
}

.yellow {
    background-color: yellow;
    margin-left: 5rem;
    margin-right: 1.33rem;
    margin-top: 3rem;
}

.green {
    background-color: green;
    margin-left: 2.1rem;
    margin-right: 1.8rem;
    margin-top: 1rem;
}

.blue {
    background-color: blue;
    margin-left: 3.1rem;
    margin-right: 2.5rem;
    margin-top: 2rem;
}

.purple {
    background-color: blueviolet;
    margin-left: 1.3rem;
    margin-right: 1.88rem;
    margin-top: 3rem;
}

.pink {
    background-color: plum;
    margin-left: 0.67rem;
    margin-right: 1.3rem;
    margin-top: 2rem;
}

.negative-fifty {
    transform: rotate(-50deg);
}

.negative-forty {
    transform: rotate(-10deg);
}

.negative-thirty {
    transform: rotate(-10deg);
}

.negative-twenty {
    transform: rotate(-10deg);
}

.negative-ten {
    transform: rotate(-10deg);
}

.ten {
    transform: rotate(10deg);
}

.twenty {
    transform: rotate(20deg);
}

.thirty {
    transform: rotate(30deg);
}

.forty {
    transform: rotate(40deg);
}

.fifty {
    transform: rotate(50deg);
}

#wrapper {
    width: 100%;
    height: 100%;
    z-index: 5;
}

#content {
    width: 85vw;
    height: auto;
    background-color: rgb(243, 188, 243);
    border-radius: 20px;
    position: absolute;
    left: 7.5vw;
    top: 7.5vh;
    z-index: 1;
    padding: 2rem;
    color: black;
    box-shadow: 3px 3px 12px rgb(48, 29, 1);
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    width: 66.666%;
}

label {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: center;
}

input {
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 16px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.label-custom {
    font-size: 18px;
}

#submit {
    background-color: rgba(48, 29, 1, 0.8);
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
    padding: 1rem;
    font-weight: 300;
    font-family: 'Raleway Dots', cursive;
    font-size: 48px;
}

#submit:hover {
    background-color: rgb(48, 29, 1);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#footer {
    background-image: url("../images/waffle-texture.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
    bottom: 0;
    position: fixed;
    left: 0;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#footer-container {
    border-radius: 10px;
    height: 60%;
    text-align: center;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 24px;
    background-color: rgb(48, 29, 1);
}

footer p {
    font-family: 'Raleway Dots', cursive;
    font-size: 32px;
    color: white;
}

@media screen and (max-width: 1040px) {
    #header {
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }

    .header-content {
        margin: 1.5rem auto;
    }

    #logo-heading {
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }

    #nav-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0.5rem;
        justify-content: center;
        margin: 5rem auto;
    }

    #nav-list {
        flex-direction: column;
        text-align: center;
    }

    #nav-list li {
        margin: 1.5rem;
    }

    #main {
        position: fixed;
        top: 480px;
        left: 0;
        width: 100%;
        height: calc(100% - 480px);
        overflow: scroll;
    }
    
}

@media screen and (max-width: 592px) {
    h1 {
        font-size: 24px;
    }

    .nav-link {
        font-size: 14px;
    }

    #main {
        position: fixed;
        top: 455px;
        left: 0;
        width: 100%;
        height: calc(100% - 455px);
        overflow: scroll;
    }
    
}

